<div class="map-container-wrapper">
  <div #mapContainer id="map"></div>

  <div class="light-switcher-right">
    <button class="go-back-button" routerLink="/home"> <mat-icon>arrow_left</mat-icon> Back</button>
    <div class="geocoder-bar">
      <div class="geocoder-bar">
        <input
          type="text"
          placeholder="Caută o adresă..."
          (input)="onSearchInput(searchInput.value)"
          #searchInput
        />
        <div class="autocomplete-suggestions" *ngIf="suggestions.length">
          <div *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
            {{ suggestion.properties.full_address || suggestion.properties.name }}
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="light-switcher">
    <button (click)="onLightPresetClick('day')" [class.active]="currentPreset === 'day'">🌞</button>
    <button (click)="onLightPresetClick('dawn')" [class.active]="currentPreset === 'dawn'">🌅</button>
    <button (click)="onLightPresetClick('dusk')" [class.active]="currentPreset === 'dusk'">🌇</button>
    <button (click)="onLightPresetClick('night')" [class.active]="currentPreset === 'night'">🌙</button>
  </div>

   <div class="light-switcher-bottom">
    <button class="go-back-button" (click)="openCreateDialog()"> <mat-icon>add</mat-icon> Creaza Sesizare</button>
   </div>
</div>
