<div class="login-container">
  <img class="logo" src="logo.svg" alt="logo" />
  <form class="login-form" (ngSubmit)="login()">
    <h2 class="login-title">Sign in to your account</h2>

    <div class="form-field">
      <label for="email">User</label>
      <input
        id="email"
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="your username"
        required
      />
    </div>

    <div *ngIf="error" class="form-error">
      {{ error }}
    </div>

    <button class="login-button" type="submit">Login</button>
  </form>
</div>



