
<!-- CENTER THE CARD WITH A FLEX CONTAINER -->
<div class="home‐container">
  <img class="img-principala" src="img1.jpg" alt="img" />
  <div class="hero-text">
    <span>
      Date. Decizii. Dezvoltare.
    </span>
    <span class="subtitle">
      CitySense, modul prin care vocea ta devine auzită.
    </span>
  </div>
  <div class="cards">
    <mat-card class="info-card">
      <mat-card-header>
        🗳️ Prioritizare participativă a sesizărilor
      </mat-card-header>
      <mat-card-content>
        Transformăm sesizările cetățenilor din aplicația CitySense în acțiuni concrete prin voturi de tip upvote/downvote. Astfel, problemele importante sunt identificate rapid și prioritizate în funcție de impactul perceput de comunitate.
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card">
      <mat-card-header>
        🗺️ Hărți inteligente pentru siguranță și intervenție rapidă
      </mat-card-header>
      <mat-card-content>
        Folosim heatmap-uri bazate pe tipuri de probleme și riscuri pentru a ajuta autoritățile să redistribuie eficient resursele. De exemplu, optimizarea rutelor de patrulare sau amplasarea strategică a personalului de intervenție.
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card">
      <mat-card-header>
        📊 Raportare strategică pentru dezvoltarea orașului
      </mat-card-header>
      <mat-card-content>
        Generăm periodic rapoarte care oferă o viziune de ansamblu asupra priorităților urbane. Susținem decizii informate pentru investiții și bugetare participativă, cu accent pe digitalizarea în timp real a orașului.
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card class="map‐card">
    <mat-card-header>
      <mat-card-title>Timișoara</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card‐content‐no‐padding">
      <div class="map‐wrapper">
        <app-openlayers-map></app-openlayers-map>
      </div>
    </mat-card-content>
  </mat-card>
  <app-footer></app-footer>
</div>
