.home‐container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.map‐card {
  width: 80%;
  margin: 0 auto;
}

.card‐content‐no‐padding {
  padding: 0;
}

.map‐wrapper {
  position: relative;
  width: 100%;
  height: 75svh;
  overflow: hidden;
}

.mat-mdc-card-header {
  padding: 16px;
}

.mat-mdc-card-title {
  font-weight: 600;
  font-size: medium;
  color: white;
}

.mat-mdc-card {
  background-color: #005cbb;
  overflow: hidden;
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0px;
}

@media (max-width: 600px) {
  .map‐card {
    width: 90%;
  }
}
.mapboxgl-popup-content {
  padding: 0;
  background: transparent;
  box-shadow: none;
}

.popup-content {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  border-radius: 8px;
  font-family: 'Segoe UI', sans-serif;

  h4 {
    margin: 0 0 4px;
    font-size: 16px;
  }

  p {
    margin: 0;
    font-size: 13px;
    color: #ccc;
  }
}
