
<!-- CENTER THE CARD WITH A FLEX CONTAINER -->
<div class="home‐container">
  <img class="img-principala" src="img1.jpg" alt="img" />
  <div class="cards">
    <mat-card class="info-card">
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lorem lorem, porttitor vitae est quis, gravida auctor leo. Fusce eros libero, hendrerit eu nunc sit amet, dapibus vehicula diam. Vestibulum eget justo sit amet lacus aliquam malesuada. Curabitur quis dictum risus. Nam eu malesuada ante. 
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card">
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lorem lorem, porttitor vitae est quis, gravida auctor leo. Fusce eros libero, hendrerit eu nunc sit amet, dapibus vehicula diam. Vestibulum eget justo sit amet lacus aliquam malesuada. Curabitur quis dictum risus. Nam eu malesuada ante. 
      </mat-card-content>
    </mat-card>
    <mat-card class="info-card">
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lorem lorem, porttitor vitae est quis, gravida auctor leo. Fusce eros libero, hendrerit eu nunc sit amet, dapibus vehicula diam. Vestibulum eget justo sit amet lacus aliquam malesuada. Curabitur quis dictum risus. Nam eu malesuada ante. 
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card class="map‐card">
    <mat-card-header>
      <mat-card-title>Timișoara</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card‐content‐no‐padding">
      <div class="map‐wrapper">
        <app-openlayers-map></app-openlayers-map>
      </div>
    </mat-card-content>
  </mat-card>
</div>
