<mat-toolbar color="primary">
  <div class="nav-container">
    <img class="logo" src="logo.svg" alt="logo" routerLink="/home" />
    <div class="nav-buttons">
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/sesizari">Sesizări</button>
      <button mat-button routerLink="/zone-vizuale">Zone Vizuale</button>
      <!-- <button mat-button routerLink="/heat-map">Heat Map</button> -->
      <button mat-flat-button>Autentificare</button>
    </div>
  </div>
</mat-toolbar>
