.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo {
        cursor: pointer;
        max-width: 100%;
        height: 2.5rem;
        &:hover {
            filter: invert(15%) sepia(68%) saturate(3120%) hue-rotate(211deg) brightness(104%) contrast(93%);
        }
    }
}

.mat-toolbar {
    background-color: transparent;
    border-bottom: 1px solid rgb(219, 219, 219);
}