<div class="cards-container">
    <mat-card class="example-card">
        <mat-card-header>
            <img mat-card-lg-image src="https://material.angular.dev/assets/img/examples/shiba2.jpg" >
            <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Large</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            aaa
        </mat-card-content>
    </mat-card>
</div>